PORT=5000
MONGO_URI=mongodb://azamghafoorreal_db_user:xIpsIlAqqHE2RMMX@ac-mlepjqt-shard-00-00.sclg1hc.mongodb.net:27017,ac-mlepjqt-shard-00-01.sclg1hc.mongodb.net:27017,ac-mlepjqt-shard-00-02.sclg1hc.mongodb.net:27017/Pulse?ssl=true&replicaSet=atlas-b6yakx-shard-0&authSource=admin&retryWrites=true&w=majority